/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 14, 2020, 6:31:35 PM
    Author     : eric
*/



/*#MainGridPane {
    -fx-background-color: blue;
}*/

#red {
    -fx-background-color: blue;
}